html{
    margin: 0;
    padding: 0;
}

.body-home{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://images.unsplash.com/photo-1548021682-1720ed403a5b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    margin: 0;
    padding: 0;
}
.body-input{
    margin: 0;
    padding: 0;
}

.navbar-container{
    background: none;
    display: flex;
    width: 100wh;
    height: 5rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}
nav{
    align-content: center;
    list-style-type: none;
    display: inline-block;
}    
.logo{
    margin-right: 60%;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.logo span{
    color: #8B0000 ;
}
.nav__button{
    background: none;
    border: none;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10%;
    margin-right: 15px;
}
.nav__button:hover{
    transform: scale(1.3,1.3);
    color: #ffffff;
}
.active{
    color: #D0D7D8;
    transform: scale(1.1,1.1);
}
.table-container{
    padding: 30rem;
    display: flex;
    flex-flow: column wrap;
    color: white;   
}
.table{
    color: white;
    border-style: groove;
    border-radius: 10px;
    border-color: black;
    
}

.table-tbody{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    
}

.form-input-error {
    border-color: red;
}



.input-control small{
    visibility: hidden;
}


/*Input css*/
.main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.input-container{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    
    margin-top: 400px;

    
}
.input-container input{
    border-radius: 30px;    
    width: 25%;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 2rem;
}

.input-container input::placeholder{
    text-transform: capitalize;
    text-align: left;
    font-family: 'Franklin Gothic Medium';
}

.input-container input:focus::placeholder{
    visibility: hidden;

}

.output-container{
    width: 50rem;
    background-color: black;
    border-radius: 40px;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;       
}

.output-container output{
    color: #ffffff;
    font-size: 3rem;
    font-family: 'Lucida Sans';
    margin-left: 30px;
}


/*login index*/

.login-form-container{
    display: flex;
    flex-flow: row wrap;
    border-style: dashed;
    width: 30rem;
    height: 70vh;
    margin: auto;
    margin-top: 50px;
    border-radius: 30px;
    background-color: rgb(249, 202, 233);
}

.login-form-container form{
    margin-top: 30px;
    margin-left: 30px;
}

.label-login{
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
   

}

.label-login-employeid{
    font-size: 1.3rem;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    margin-top: 0px;
   
}
.login-form-container input{
    margin-left: 3%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 38vh;
    height: 5vh;
    border-radius: 40px;

}

.login-form-container input::placeholder{
    padding: 20px;
}



.login-form-container input:focus::placeholder{
    visibility: hidden;
    
}

#radiochoice1{
    margin-left: 10px;
    margin-right: 10px;
    width: 10px;
    margin-bottom: 30px;

}

.login-form-container button{
    border-radius: 10px;
    height: 2.2rem;
    text-align: center;
    width: 90px;
    margin-left: 18vh;
    margin-bottom: 25px;

}


/* Add animation (fade in the popup) */
